/.next/
/node_modules
.DS_Store
.env*.local
.vercel
*.tsbuildinfo
next-env.d.ts
npm-debug.log*
# build output
dist/
.output/
.astro

# logs
npm-debug.log*
pnpm-debug.log*


# environment variables
.env
.env.production
